
@import "utils/reset";
@import "utils/_helpers";

@import "base/_variables";
@import "base/_typography";


html{
    background-color: #e1e1e1;
    min-height: 100%;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
body {
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 $unit*3;
  flex: 1 1 auto;
}

//putting all rules here for now as page is simple enough to not pull into separate scss files
.site-header {
  display: flex;
  @include media-crazysmall{
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  padding: $unitRem*2 0;
  border-bottom: $unit/2 solid $c-1;
  margin-bottom: $unit*2;
  -webkit-align-items: center;
          align-items: center;

  .site-logo{
    $thisSize: $unitRem*10;
    @include media-small{}
    flex: 0 0 auto;
    width: $thisSize;
    height: $thisSize;
    @include media-small{
    width: $thisSize*0.8;
    height: $thisSize*0.8;
    }
    border-radius: 50%;
    background-image: url("../../img/build/logo-joke.jpg");
    @include retina{
      background-image: url("../../img/build/logo-joke_x2.jpg");
    }
    background-size: 100%;
    background-position: 0 0;

    //using animation with 'steps' easing to create animated-gif effect using a jpg:
    @at-root{
      @keyframes logoJoke{
        0%{
          background-position: 0 0;
        }
        100%{
          background-position: 0 100%;
        }
      }
    }
    animation: logoJoke 2s steps(5) infinite;
  }
}

.site-heading {
  flex: 1 1 auto;
  order:1;
  text-transform: uppercase;
  text-align: right;
  @include media-crazysmall{
    text-align: center;
  }
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  &-name {
    font-size: 3em;
    @include media-small{
      font-size: 1.5em;
    }
    font-weight: 300;
    line-height: 1.2;
    color: $c-1;
  }
  &-title{
    font-weight: 600;
  }
}

.hero {
  margin-bottom: $unit*2;
}

.hero-image {
  max-width: 100%;
}

.featured-work {
  flex: 1 0 auto;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  margin: 0 #{-$unit} $unit*2;

  h2{
    width: 100%;
    @include sectionHeading;
    margin: $unit;
  }
}

.featured-project{
  &-link{
    flex: 1 1 auto;
    width: calc( 33.33% - #{$unit*2});
    min-width: 250px;
    @include media-small{
      min-width: 0;
      width: 100%;
    }
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;

    margin: $unit;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
    transition: box-shadow 0.2s;
    &:hover{
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
    }
  }
  &-title{
    @include itemHeading;
    padding: $unit;
  }
  &-one-liner{
    padding: 0 $unit;
    flex: 1 1 auto;
  }
  &-url{
    font-size: 12px;
    margin: $unit;
    padding: $unit $unit $unit $unit*4.5;
    background-color: rgba($c-2,0.5);
    color: #555;
    position: relative;
    @include media-crazysmall{
      padding: $unit*3.5 $unit $unit $unit;
      text-align: center;
    }
    &:before{
      position: absolute;
      display: block;
      content:'';
      width: $unit*2;
      height: 100%;
      background: url("../../img/build/icon-external-link.svg") no-repeat 50%;
      -webkit-background-size: contain;
           -o-background-size: contain;
              background-size: contain;
      top: 0;
      left: $unit;
      @include media-crazysmall{
        height: $unit*2;
        top: auto;
        bottom: calc(100% - #{$unit*3} );
        left: calc(50% - #{$unit});
      }
    }
  }
  &-thumbnail{
    order:-1;
    width: 100%;
  }

}

.site-footer{
  padding: $unit*2 0;
  h2{
    @include sectionHeading;
    margin-bottom: $unit*2;
  }
  ul{
    display: flex;
    margin-bottom: $unit*2;
    @include media-small{
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  li{
        flex: 1 1 auto;
  }
  .footer-link{
    font-size: 12px;
    margin-right: $unit;
    @include media-small{
      margin-right: 0;
      margin-bottom: $unit;
    }
    padding: $unit $unit $unit $unit*4.5;
    @include media-crazysmall{
      padding: $unit;
    }
    background-color: rgba($c-2,0.5);
    color: #555;
    position: relative;
    display: block;

    &:before{
      position: absolute;
      display: block;
      content:'';
      width: $unit*2;
      height: 100%;
      background: url("../../img/build/icon-external-link.svg") no-repeat 50%;
      -webkit-background-size: contain;
           -o-background-size: contain;
              background-size: contain;
      top: 0;
      left: $unit;
      @include media-crazysmall{
        display: none;
      }
    }
  }
}